<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>MuckiFacilityPlugin global settings</title>
        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
        </input-field>
    </card>
    <card>
        <title>Global backup settings</title>
        <input-field type="bool">
            <name>activeDbBackup</name>
            <label>Active database backup</label>
        </input-field>
        <input-field type="bool">
            <name>compressDbBackup</name>
            <label>Compress database backup file</label>
        </input-field>

        <input-field type="bool">
            <name>useOwnResticPath</name>
            <label>Use own restic path</label>
        </input-field>
        <input-field type="text">
            <name>pathResticBinary</name>
            <label>Path to binary of restic</label>
        </input-field>
    </card>
</config>